In [13]:
import pandas as pd

# Sample DataFrame initialization
data = pd.DataFrame({
    'Student Roll': [5001, 5002, 5003, 5004, 5005, 5006, 5007, 5008, 5009, 5010, 5011, 5012, 5013, 5014, 5015, 5016, 5017, 5018, 5019, 5020],
    'Student Name': ['Swetashi Aiyyar', 'Mira Rajput', 'Deepali Sanyal', 'Ayansh Mukherjee', 'Mihika Kalra', 'James Fernandes', 'Andrew Peter', 'Atin Choudhari', 'Kalyan Krupanidhi', 'Raga Lalitha', 'Somesh Jha', 'Jashwant Bhide', 'Suyash Chaturvedi', 'Nirmala', 'Yatindra Sharma', 'Shivalik Gonda', 'Mitushi Ghosh', 'Nayan Mahadevan', 'Rishi Damul', 'Kumar Amar'],
    'Hindi': [68, 54, 45, 55, 25, 76, 75, 78, 48, 48, 56, 31, 63, 69, 53, 63, 74, 74, 79, 29],
    'English': [27, 42, 50, 33, 31, 52, 78, 34, 50, 37, 64, 41, 58, 68, 38, 41, 47, 49, 47, 80],
    'Mathematics': [83, 90, 70, 70, 79, 68, 43, 73, 65, 65, 53, 88, 61, 60, 52, 91, 58, 65, 67, 58],
    'Physics': [64, 86, 68, 59, 92, 50, 77, 54, 46, 64, 64, 92, 67, 53, 79, 89, 96, 90, 62, 64],
    'Chemistry': [90, 81, 46, 71, 50, 76, 58, 78, 63, 87, 63, 52, 51, 73, 52, 51, 66, 59, 47, 56],
    'Biology': [74, 43, 67, 91, 48, 66, 62, 73, 56, 64, 43, 78, 46, 88, 83, 69, 55, 85, 55, 75],
    'History': [76, 36, 29, 66, 34, 73, 53, 25, 54, 79, 37, 63, 46, 36, 37, 80, 70, 49, 72, 77],
    'Geography': [72, 38, 73, 63, 38, 54, 49, 30, 45, 41, 50, 33, 63, 80, 67, 54, 68, 67, 25, 56],
    'Civics': [46, 68, 61, 48, 63, 49, 44, 45, 41, 69, 39, 32, 34, 67, 72, 53, 66, 31, 40, 59],
    'Computer Science': [76, 62, 97, 80, 96, 97, 45, 85, 57, 59, 59, 94, 47, 57, 86, 71, 61, 63, 48, 50],
    'Physical Education': [63, 45, 40, 40, 25, 42, 27, 72, 67, 68, 28, 56, 68, 49, 76, 32, 39, 37, 45, 41]
})

# Define the function to categorize marks
def categorize_marks(marks):
    if marks <= 20:
        return 'Very Poor'
    elif 20 < marks <= 40:
        return 'Poor'
    elif 40 < marks <= 60:
        return 'Average'
    elif 60 < marks <= 80:
        return 'Good'
    else:
        return 'Very Good'

# Define the subjects for each stream
arts_subjects = ['Hindi', 'English', 'History', 'Geography', 'Civics']
science_subjects = ['Mathematics', 'Physics', 'Chemistry', 'Biology', 'Computer Science']
commerce_subjects = ['Hindi', 'English', 'Mathematics', 'Computer Science', 'Physical Education']

# Calculate average marks for each student
data['Average Marks Arts'] = data[arts_subjects].mean(axis=1)
data['Average Marks Science'] = data[science_subjects].mean(axis=1)
data['Average Marks Commerce'] = data[commerce_subjects].mean(axis=1)

# Determine the highest average marks for each stream
data['Best Stream'] = data[['Average Marks Arts', 'Average Marks Science', 'Average Marks Commerce']].idxmax(axis=1)

# Calculate overall average marks (average of all three streams) and categorize
data['Overall Average Marks'] = data[['Average Marks Arts', 'Average Marks Science', 'Average Marks Commerce']].mean(axis=1)
data['Category'] = data['Overall Average Marks'].apply(categorize_marks)

# Display the categorized data
print(data[['Student Roll', 'Student Name', 'Overall Average Marks', 'Category', 'Best Stream']])

    Student Roll       Student Name  Overall Average Marks Category  \
0           5001    Swetashi Aiyyar              66.200000     Good
1           5002        Mira Rajput              59.533333  Average
2           5003     Deepali Sanyal              60.533333     Good
3           5004   Ayansh Mukherjee              60.933333     Good
4           5005       Mihika Kalra              54.133333  Average
5           5006    James Fernandes              66.400000     Good
6           5007       Andrew Peter              56.800000  Average
7           5008     Atin Choudhari              61.133333     Good
8           5009  Kalyan Krupanidhi              54.133333  Average
9           5010       Raga Lalitha              59.333333  Average
10          5011         Somesh Jha              52.533333  Average
11          5012     Jashwant Bhide              60.933333     Good
12          5013  Suyash Chaturvedi              55.533333  Average
13          5014            Nirmala              63.600000     Good
14          5015    Yatindra Sharma              61.600000     Good
15          5016     Shivalik Gonda              64.000000     Good
16          5017      Mitushi Ghosh              62.666667     Good
17          5018    Nayan Mahadevan              61.333333     Good
18          5019        Rishi Damul              55.200000  Average
19          5020         Kumar Amar              57.466667  Average

               Best Stream
0    Average Marks Science
1    Average Marks Science
2    Average Marks Science
3    Average Marks Science
4    Average Marks Science
5    Average Marks Science
6       Average Marks Arts
7    Average Marks Science
8    Average Marks Science
9    Average Marks Science
10   Average Marks Science
11   Average Marks Science
12  Average Marks Commerce
13   Average Marks Science
14   Average Marks Science
15   Average Marks Science
16   Average Marks Science
17   Average Marks Science
18  Average Marks Commerce
19   Average Marks Science