In [17]:
import pandas as pd

# Sample data
data = pd.DataFrame({
    'Student Roll': [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
    'Student Name': ['Ashok Chauhan', 'Bibhor Gupta', 'Akshay Agarwal', 'Rahul Bansal', 'Kriti Singh', 'Reshma Sultana', 'Agriya Marandi', 'Emanuel Joseph', 'Rituraj Khanna', 'Sofiya Ahmed', 'James Gabriel', 'Ekta Banerjee', 'Richa Gopanayak', 'Sukriti Verma', 'Pranav Verma', 'Arjun Godbole', 'Himanshu Joshi', 'Simi Bhansali', 'Krishna Priya', 'Deep Dasgupta'],
    'Hindi': [32, 53, 49, 82, 47, 60, 34, 44, 70, 23, 69, 33, 67, 61, 36, 75, 30, 29, 57, 38],
    'English': [63, 91, 71, 73, 41, 62, 86, 23, 45, 76, 71, 73, 23, 91, 65, 23, 65, 79, 76, 36],
    'Mathematics': [84, 65, 80, 23, 58, 61, 36, 44, 51, 37, 44, 40, 42, 39, 72, 63, 44, 35, 58, 23],
    'Physics': [67, 79, 62, 53, 30, 25, 48, 67, 30, 58, 41, 88, 77, 29, 85, 60, 20, 84, 84, 20],
    'Chemistry': [89, 23, 47, 70, 38, 87, 40, 31, 41, 84, 58, 73, 34, 59, 68, 47, 25, 29, 61, 39],
    'Biology': [43, 55, 89, 46, 72, 49, 63, 39, 42, 83, 83, 23, 89, 45, 25, 25, 68, 83, 77, 76],
    'History': [41, 63, 20, 88, 49, 22, 81, 37, 69, 59, 25, 64, 37, 33, 68, 35, 42, 56, 59, 73],
    'Geography': [35, 45, 57, 42, 83, 61, 73, 32, 86, 66, 37, 67, 77, 54, 71, 82, 46, 31, 52, 58],
    'Civics': [48, 23, 66, 81, 86, 75, 48, 39, 21, 26, 65, 68, 90, 71, 22, 47, 75, 58, 56, 52],
    'Computer Science': [24, 80, 42, 20, 88, 39, 55, 81, 47, 45, 40, 23, 37, 33, 39, 26, 85, 32, 75, 42],
    'Physical Education': [23, 64, 48, 67, 86, 73, 58, 43, 75, 66, 23, 60, 63, 45, 25, 40, 73, 41, 67, 28]
})

# Define the function to categorize marks
def categorize_marks(marks):
    if marks <= 20:
        return 'Very Poor'
    elif 20 < marks <= 40:
        return 'Poor'
    elif 40 < marks <= 60:
        return 'Average'
    elif 60 < marks <= 80:
        return 'Good'
    else:
        return 'Very Good'

# Define the subjects for each stream
arts_subjects = ['Hindi', 'English', 'History', 'Geography', 'Civics']
science_subjects = ['Mathematics', 'Physics', 'Chemistry', 'Biology', 'Computer Science']
commerce_subjects = ['Hindi', 'English', 'Mathematics', 'Computer Science', 'Physical Education']

# Calculate average marks for each student
data['Average Marks Arts'] = data[arts_subjects].mean(axis=1)
data['Average Marks Science'] = data[science_subjects].mean(axis=1)
data['Average Marks Commerce'] = data[commerce_subjects].mean(axis=1)

# Determine the highest average marks for each stream
data['Best Stream'] = data[['Average Marks Arts', 'Average Marks Science', 'Average Marks Commerce']].idxmax(axis=1)

# Calculate overall average marks and categorize
data['Overall Average Marks'] = data[['Average Marks Arts', 'Average Marks Science', 'Average Marks Commerce']].mean(axis=1)
data['Category'] = data['Overall Average Marks'].apply(categorize_marks)

# Display the categorized data
print(data[['Student Roll', 'Student Name', 'Overall Average Marks', 'Category', 'Best Stream']])

    Student Roll     Student Name  Overall Average Marks Category  \
0           2001    Ashok Chauhan              50.133333  Average
1           2002     Bibhor Gupta              62.000000     Good
2           2003   Akshay Agarwal              58.200000  Average
3           2004     Rahul Bansal              56.200000  Average
4           2005      Kriti Singh              60.800000     Good
5           2006   Reshma Sultana              55.733333  Average
6           2007   Agriya Marandi              55.533333  Average
7           2008   Emanuel Joseph              44.800000  Average
8           2009   Rituraj Khanna              52.666667  Average
9           2010     Sofiya Ahmed              53.600000  Average
10          2011    James Gabriel              52.000000  Average
11          2012    Ekta Banerjee              52.066667  Average
12          2013  Richa Gopanayak              53.666667  Average
13          2014    Sukriti Verma              52.266667  Average
14          2015     Pranav Verma              52.533333  Average
15          2016    Arjun Godbole              47.333333  Average
16          2017   Himanshu Joshi              53.133333  Average
17          2018    Simi Bhansali              48.800000  Average
18          2019    Krishna Priya              65.866667     Good
19          2020    Deep Dasgupta              41.600000  Average

               Best Stream
0    Average Marks Science
1   Average Marks Commerce
2    Average Marks Science
3       Average Marks Arts
4   Average Marks Commerce
5   Average Marks Commerce
6       Average Marks Arts
7    Average Marks Science
8       Average Marks Arts
9    Average Marks Science
10      Average Marks Arts
11      Average Marks Arts
12      Average Marks Arts
13      Average Marks Arts
14   Average Marks Science
15      Average Marks Arts
16  Average Marks Commerce
17   Average Marks Science
18   Average Marks Science
19      Average Marks Arts